<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  #asana_exception_notifier {font-size: 11px; font-family: Consolas, monaco, monospace; font-weight: normal; margin: 2em 0 1em 0; text-align: center; color: #444; line-height: 16px; background: #fff;}
  #asana_exception_notifier th, #asana_exception_notifier td {color: #444; line-height: 18px;}
  #asana_exception_notifier a {color: #9b1b1b; font-weight: inherit; text-decoration: none; line-height: 18px;}
  #asana_exception_notifier table {text-align: left; width: 100%;}
  #asana_exception_notifier table td {padding: 5px; border-bottom: 1px solid #ccc;}
  #asana_exception_notifier table td strong {color: #9b1b1b;}
  #asana_exception_notifier table th {padding: 5px; border-bottom: 1px solid #ccc;}
  #asana_exception_notifier table tr:nth-child(2n) td {background: #eee;}
  #asana_exception_notifier table tr:nth-child(2n + 1) td {background: #fff;}
  #asana_exception_notifier tbody {text-align: left;}
  #asana_exception_notifier .name_values td {vertical-align: top;}
  #asana_exception_notifier legend {background-color: #fff;}
  #asana_exception_notifier fieldset {text-align: left; border: 1px dashed #aaa; padding: 0.5em 1em 1em 1em; margin: 1em 2em; color: #444; background-color: #FFF;}
  </style>
</head>
<body>
  <div style="clear:both"></div>
  <div id="asana_exception_notifier">
    <div id="all">
      <fieldset>
        <legend>Env</legend>
        <div>
          <%= mount_table_for_hash(template_params, :summary => "Debug information for environment") %>
        </div>
      </fieldset>
    </div>
  </div>
</body>
</html>
